# IDE
.idea/
.vscode/

# Python venv
venv/
.venv/
virtualenv/

# Python
.tox/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.egg-info
*.pyc
__pycache__
build/
dist/

# Coverage
.coverage

# Misc
.env
*.spec
.DS_Store
*.sqlite
*.sqlite-journal

# AutoMSR - chromedriver
chromedriver.exe
chromedriver
# AutoMSR - credentials
credentials*.json
!credentials.example.json
# AutoMSR - config
automsr*.cfg
!automsr.example.cfg
# AutoMSR - new config
config.yaml
