# IDE
.idea/
.vscode/

# Python venv
venv/
.venv/
virtualenv/

# Python
.tox/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.egg-info
*.pyc
__pycache__
build/
dist/

# Misc
.env
*.spec
.DS_Store
*.sqlite
*.sqlite-journal

# AutoMSR
chromedriver.exe
chromedriver
