.idea
venv*
.venv*
.tox
*.egg-info
.env
*driver.exe
__pycache__
*.json
!credentials.example.json
*.cfg
!automsr.example.cfg
*.log
*.csv
screenshots
*.sqlite
*.sqlite-journal
.DS_Store
build/
dist/
*.spec

/chrome_driver_/
